<% layout("/layouts/boilerplate.ejs") -%>
    <div class="row">
        <div class="col-8 offset-2 mt-2 ">
            <form action="/listing" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter the description"
                        class="form-control" required></textarea>
                    <div class="invalid-feedback">Enter a valid description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload an image:</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">Enter a valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Enter a valid country name</div>
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
                    <div class="invalid-feedback">Enter a valid location</div>
                </div>
                <button class="btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>
